Package: libasound2-doc
Source: alsa-lib
Version: 1.1.8-1
Architecture: all
Maintainer: Debian ALSA Maintainers <pkg-alsa-devel@lists.alioth.debian.org>
Installed-Size: 15197
Depends: libjs-jquery
Suggests: libasound2-dev
Section: doc
Priority: optional
Homepage: https://www.alsa-project.org/
Description: documentation for user-space ALSA application programming
 This package contains the HTML documentation for the ALSA library, which
 describes the development API for user-space applications that want to
 use ALSA.
 .
 ALSA is the Advanced Linux Sound Architecture.
