Package: libasound2-udeb
Source: alsa-lib
Version: 1.1.8-1
Architecture: armhf
Maintainer: Debian ALSA Maintainers <pkg-alsa-devel@lists.alioth.debian.org>
Installed-Size: 1030
Depends: libc6-udeb (>= 2.28)
Section: debian-installer
Priority: optional
Description: shared library for ALSA applications (udeb)
 This package contains the ALSA library for use in the Debian Installer.
 .
 ALSA is the Advanced Linux Sound Architecture.
