Package: libasound2-dbgsym
Source: alsa-lib
Version: 1.1.8-1
Auto-Built-Package: debug-symbols
Architecture: armhf
Maintainer: Debian ALSA Maintainers <pkg-alsa-devel@lists.alioth.debian.org>
Installed-Size: 1504
Depends: libasound2 (= 1.1.8-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libasound2
Build-Ids: bbd658096f056d777e21be4c68fd8dbcf320ab48
