Package: libasound2-plugin-smixer-dbgsym
Source: alsa-lib
Version: 1.1.8-1
Auto-Built-Package: debug-symbols
Architecture: armhf
Maintainer: Debian ALSA Maintainers <pkg-alsa-devel@lists.alioth.debian.org>
Installed-Size: 47
Depends: libasound2-plugin-smixer (= 1.1.8-1)
Section: debug
Priority: optional
Description: debug symbols for libasound2-plugin-smixer
Build-Ids: 378e128d92b55ec74d5f626321cd178a410be727
